{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <small><li>{% block pretitle %}{% endblock %}
    {% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %}</li></small>
    <small><li class="breadcrumb-menu">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Delete multiple objects' %}</li></small>
</ol>
{% endblock %}

{% block content %}
<div class="card">
{% if perms_lacking %}
    <div class="card-header">{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</div>
    <div class="card-block p-y-0 p-x-2">
    <ul>
    {% for obj in perms_lacking %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
  </div>
{% elif protected %}
    <div class="card-header">{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</div>
    <div class="card-block p-y-0 p-x-2">
    <ul>
    {% for obj in protected %}
        <li>{{ obj }}</li>
    {% endfor %}
    </ul>
    </div>
{% else %}
    <div class="card-header">{% blocktrans %}Are you sure you want to delete the selected {{ objects_name }}? All of the following objects and their related items will be deleted:{% endblocktrans %}</div>
    {% include "admin/includes/object_delete_summary.html" %}
    <div class="card-block p-y-0 p-x-2">
    <h5>{% trans "Objects" %}</h5>
    {% for deletable_object in deletable_objects %}
        <ul>{{ deletable_object|unordered_list }}</ul>
    {% endfor %}
    </div>
    <form method="post">{% csrf_token %}
    <div class="card-block">
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="delete_selected" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" class="btn btn-danger" value="{% trans "Yes, I'm sure" %}" />
    <a href="#" onclick="window.history.back(); return false;" class="btn btn-primary">{% trans "No, take me back" %}</a>
    </div>
    </form>
  </div>
{% endif %}
{% endblock %}
