.form-title .form-control {
    width: 100% !important;
    font-size: 1.5rem !important;
  }
li.success a {
  color: #ffffff;
  text-decoration: underline;
}
li.success a:hover {
  color: #20a8d8;
  text-decoration: underline;
}

/*update*/
input[type=text], input[type=password], input[type=email], input[type=url],
input[type=number], textarea, select {
    display: block;
    width: 100%;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    transition: border-color ease-in-out 0.15s;
}

input[type=text]:focus, input[type=password]:focus, 
input[type=email]:focus, input[type=url]:focus,
input[type=number]:focus {
  outline: none;
  border-color: #20a8d8;
}

/* ========================================================================
   Component: form-tags.less
 ========================================================================== */
.bootstrap-tagsinput {
  border-color: #dbd9d9;
  box-shadow: 0 0 0 #000 !important;
  display: block;
  width: 100%;
  /*height: 38px;*/
  padding: 8px 14px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #919292;
  background-color: #ffffff;
  background-image: none;
  /*border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;*/
}
.bootstrap-tagsinput:focus {
  border-color: #66afe9;
  outline: 0;
}
.bootstrap-tagsinput::-moz-placeholder {
  color: #b7bac9;
  opacity: 1;
}
.bootstrap-tagsinput:-ms-input-placeholder {
  color: #b7bac9;
}
.bootstrap-tagsinput::-webkit-input-placeholder {
  color: #b7bac9;
}
.bootstrap-tagsinput[disabled],
.bootstrap-tagsinput[readonly],
fieldset[disabled] .bootstrap-tagsinput {
  cursor: not-allowed;
  background-color: #f7f7f7;
  opacity: 1;
}
textarea.bootstrap-tagsinput {
  height: auto;
}

/* ========================================================================
   Component: datepicker.less
 ========================================================================== */
.bootstrap-datetimepicker-widget .btn {
  padding: 6px;
  box-shadow: 0 0 0 #000;
  border: 0;
}
.bootstrap-datetimepicker-widget td.day:hover,
.bootstrap-datetimepicker-widget td.hour:hover,
.bootstrap-datetimepicker-widget td.minute:hover,
.bootstrap-datetimepicker-widget td.second:hover {
  background: #f7f7f7;
}
.bootstrap-datetimepicker-widget td.old,
.bootstrap-datetimepicker-widget td.new {
  color: #e1e1e1;
}
.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
  background-color: #3498db;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget td.disabled,
.bootstrap-datetimepicker-widget td.disabled:hover {
  color: #e1e1e1;
}
.bootstrap-datetimepicker-widget td span:hover {
  background: #f7f7f7;
}
.bootstrap-datetimepicker-widget td span.active {
  background-color: #3498db;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.bootstrap-datetimepicker-widget td span.old {
  color: #e1e1e1;
}
.bootstrap-datetimepicker-widget td span.disabled,
.bootstrap-datetimepicker-widget td span.disabled:hover {
  background: none;
  color: #e1e1e1;
  cursor: not-allowed;
}
.bootstrap-datetimepicker-widget th.disabled,
.bootstrap-datetimepicker-widget th.disabled:hover {
  color: #e1e1e1;
}
.bootstrap-datetimepicker-widget thead tr:first-child th:hover {
  background: #f7f7f7;
}
[data-toggle="play-animation"][data-offset] {
  visibility: hidden;
}
[data-toggle="play-animation"][data-offset].anim-done {
  visibility: visible;
}
.breadcrumb-menu-mobile {
  position: absolute;
  top: 10px;
  right: 1rem;
  line-height: 43px; }
  .breadcrumb-menu-mobile:before {
    display: none; }
  .breadcrumb-menu-mobile .btn.btn-secondary, .breadcrumb-menu .fc button, .fc .breadcrumb-menu button {
    color: #818a91;
    border: 0; }
    .breadcrumb-menu-mobile .btn.btn-secondary:hover, .breadcrumb-menu .fc button:hover, .fc .breadcrumb-menu-mobile button:hover, .breadcrumb-menu .btn.btn-secondary.active, .breadcrumb-menu .fc button.active, .fc .breadcrumb-menu button.active {
      color: #2a2c36;
      background: transparent; }
  .breadcrumb-menu-mobile .open .btn.btn-secondary, .breadcrumb-menu .open .fc button, .fc .breadcrumb-menu-mobile .open button {
    color: #2a2c36;
    background: transparent; }

@media (min-width: 991px) {
  .breadcrumb-menu-mobile {
    display: none;
  }
  .mobile-search {
    display: none;
  }
  .mobile-ghoster-title {
    display: none;
  }
  .mobile-b {
    display: none;
  }
}
@media (max-width:991px) {
  .desktop-search {
    display: none;
  }
  .mobile-search {
    height: 35px;
  }
  .desktop-title {
    display: none;
  }
  .desktop-ghoster-title {
    display: none;
  }
  .p-x-2 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
  .m-line {
    line-height: 20px;
  }
  .mobile-b {
    position: absolute;
      top: 0px;
      right: 0;
      width: 70px;
      height: inherit;
      color: rgba(0, 0, 0, 0.3);
      padding: 0 .75em;
      line-height: 51px;
      font-size: 1.25rem;
      background: none;
      border: 1px solid transparent;

  }
}
